/* HEADER */

@import "settings/vars"

.header
  height: 124px
  background: $yellow
  width: 100%
  position: relative
  &__wrap
    height: 100%
  &__burger
    display: none
  &__menu
    position: relative
    padding: 22px 0
  &__li
    list-style: none
  &__link
    display: flex
    justify-content: center
    align-items: center
    position: relative
    height: 100%
    font-size: 27px
    text-transform: lowercase
    margin-left: 51px
    color: #000
    text-decoration: none
    padding: 0 12px 0 8px
    transition: 0.3s
    font-weight: 600
    overflow: hidden
    &.black
      font-weight: 700
  &__target
    position: absolute
    height: 22px
    bottom: 0
    z-index: 1
    background: #fff
    display: block
    transition: 0.4s
    opacity: 0

@media (max-width: 1800px)
  .header
    height: 80px
    &__wrap
      justify-content: space-between
    &__link
      font-size: 16px
      margin-left: 15px
    &__menu
      padding: 16px 0
    &__target
      height: 16px

@media (max-width: 1200px)
  .header
    &__link
      font-size: 14px

@media (max-width: 900px)
  .header
    &__menu
      position: absolute
      right: 0
      top: 100%
      flex-direction: column
      align-items: flex-end
      padding: 10px 0
      background: #fff
      box-shadow: rgba(0, 0, 0, 0.1) -5px 5px 5px
      opacity: 0
      z-index: -1
      transition: 0.3s
      &:hover
        opacity: 1
        z-index: 999
    &__link
      margin: 0
      padding: 10px 15px
      justify-content: flex-end
      &:hover
        background: $yellow
    &__target
      display: none
    &__burger
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      text-transform: uppercase
      font-weight: 600
      cursor: pointer
      &:hover + .header__menu
        opacity: 1
        z-index: 999
